@import 'vars';
@import 'global';

//start header
.header__menu{
    width: 100%;
    background-color: #000;
    &-inner{
        height: 46px;
        display: flex;
        align-items: center;
    }
    &-list{
        width: 427px;
        ul{
            display: flex;
            justify-content: space-between;
            a{
                color: #fff;
            }
        }
    }
    &-search{
        margin-right: 60px;
        margin-left: auto;
    }
}
.search__form{
    width: 250px;
    position: relative;
    border-bottom: solid 1px #fff;
    input{
        background-color: transparent;
        width: 220px;
        border: none; 
        color: #fff;
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        &::placeholder{
            color: $darkGrey;
            outline: none;
        }
    }
    button{
        position: absolute;
        border: none;
        background-color: transparent;
        right: 0;
        bottom: 2px;
    }
}
.header__menu-personal{
    a{
        padding-left: 15px;
    }
}
.header__catalog-inner{
    display: flex;
    height: 78px;
    align-items: center;
    justify-content: space-between;
}
.catalog{
    display: flex;
    margin-left: auto;
    margin-right: 60px;
}
.catalog__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 27px;
        }
    }
}
.header__actia{
    background-color: $red;
    padding: 7px 10px;
    a{
        color: #fff;
    }
}
.header__slider-inner{
    a{
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.slick-dots{
    text-align: center;
    margin-top: 15px;
    li{
       display: inline-block;
       margin-left: 5px;
       margin-right: 5px;
       &.slick-active{
           button{
               background-color: $bg;
           }
       }
       button{
           background-color: $grey;
           border-radius: 50%;
           border: none;
           font-size: 0;
           width: 16px;
           height: 16px;
           cursor: pointer;
           outline: none;
       }
    }
}
//end header
//start product top sales
.products{
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__item{
        &-box{
            border: 1px solid $grey;
            width: 350px;
            height: 505px;
        }
    }
    &__info{
        margin: 15px 30px 30px 20px;
    }
}
.products__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text{
        font-size: 24px;
        font-weight: 700;
        flex: 0 1 auto;
    }
    &-decor{
        height: 1px;
        background-color: $grey;
        flex: 1 1 auto;
        margin-right: 120px;
        margin-left: 50px;
    }
}
.product-img{
    width: 350px;
    height: 300px;
}
.product__interactive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-rewiews{
        display: flex;
        align-items: center;
    }
    &-icon{}
}
.jq-ry-container{
    width: auto !important;
    padding: 0;
    svg+svg{
        padding-left: 4px;
    }
}
.product-review{
    color: $darkGrey;
    font-size: 12px;
    margin-left: 18px;
}
.product-compare{
    display: inline-block;
    margin-left: 22px;
    width: 21px;
    height: 18px;
    fill: $darkGrey;
    &:hover{
            fill: $green;
        }
}
.product-select{
    display: inline-block;
    margin-left: 22px;
    width: 21px;
    height: 17px;
    fill: $darkGrey;
    &:hover{
            fill: $red;
        }
}
.product-name{
    margin-top: 15px;
    height: 80px;
    overflow: hidden;
}
.product__buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-price-number{
        font-size: 24px;
        font-weight: 700;
        span{
            font-size: 14px;
            font-weight: 500;
            margin-left: 8px;
        }
    }
    &-availability{
        color: $green;
    }
    &-basket{
        margin-right: 2px;
        margin-bottom: 5px;
    }
}
.slick-arrow{
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    font-size: 0;
    width: 25px;
    height: 25px;
    top: -70px;
    outline: none;
}
.slick-prev{
    right: 50px;
}
.slick-next{
    right: 17px;
}
//start subscription
.subscription{
    height: 381px;
    &__inner{
        position: relative;
        &-box{
            position: absolute;
            width: 760px;
            height: 212px;
            right: 0;
            bottom: 5px;
            display: flex;
            align-items: center;
        }
        &-wrapper{
            display: block;
        }
        &-text{
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
        }
        &-link{
            margin-top: 20px;
            a{
                display: flex;
                align-items: center;
            }
            &-icon{
                display: inline-block;
                height: 23px;
                width: 23px;
            }
            &-text{
                color: #fff;
                padding-left: 8px;
                font-size: 16px;
                font-weight: 500;
            }
            
        }
    }
}
.img-bg{
    height: 398px;
   background-image: url(../images/img.jpg);
   background-position: center;
   background-repeat: no-repeat;
}
//end subscription
.about{
    background-color: $grey;
    &__title-decor{
    }
    &__inner{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 366px;
        }
        &-img{
            display: inline-block;
            width: 355px;
            height: 366px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/img-about.png);
        }
        &-info{
            padding-left: 50px;
            width: 763px;
            display: inline-block;
        }
        &-title{
            font-size: 24px;
            font-weight: 700;
            flex: 0 1 auto;
            }
        &-decor{
            height: 1px;
            width: auto;
            background-color: $bg;
            flex: 1 1 auto;
            margin-left: 50px;
        }
        &-text{  
            column-count:2;
            column-gap: 30px; 
            margin-top: 37px;
        }
        &-title-wrapper{
            display: flex;
            align-items: center;
        }
    }
}
